/* ============== Header Styles ============= */

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  /* Background Color */
  --tw-bg-opacity: 1;
  background-color: rgb(36 37 45 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  /* Border Color */
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(45 46 54 / var(--tw-border-opacity));
}

.logo {
  width: 130px;
  height: 58.5px;
}

/* ============== General Styles ============= */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  /* Background Color */
  --tw-bg-opacity: 1;
  background-color: rgb(36 37 45 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  padding: 1rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.05);
}

.card {
  background-color: #ffffff0d;
  border-radius: 16px;
}

.till {
  will-change: transform;
  transition: all 400ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
}

/* ====================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ====================== MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
}
