@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Thin;
    src: url(./fonts/Poppins-Thin.ttf);
}

.nouns-header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}

.nouns-header-title {
    position: absolute;
    color: white;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    font-size: 5rem;
    font-family: "Poppins";
    margin: 0;
    line-height: 1em;
}

.referral-row {
    display: grid;
    grid-template-columns: 30% 50% 13%;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;
    width: 60%;
}
